<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Privacy Policy')"></head>
<body>
<nav th:replace="fragments/userNavbar :: navbar(area='books')"></nav>
<div class="container my-5">
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
            </ol>
        </nav>
    <h1>Privacy Policy</h1>
    <p> Il sito book.generation.org è di proprietà di Generation Bookstore, titolare del trattamento dei Suoi dati personali. </p>
    <p> Abbiamo adottato questa politica sulla privacy, la quale determina il trattamento delle informazioni raccolte da book.generation.org, oltre che i motivi per raccolta di certi dati personali a Lei correlati. Pertanto, deve leggere questa politica sulla riservatezza prima di usare il sito book.generation.org. </p>
    <p> Trattiamo i Suoi dati personali e garantiamo riservatezza e sicurezza degli stessi. </p>
    <h4> Informazioni personali raccolte: </h4>
    <p> Quando visita book.generation.org, raccogliamo automaticamente certe informazioni sul dispositivo, incluse informazioni su browser web, indirizzo IP, fuso orario e cookie installati sul dispositivo. Inoltre, navigando sul sito, raccogliamo informazioni sulle pagine web o i prodotti visualizzati, siti web o termini di ricerca di riferimento verso il sito e come Lei interagisce con il sito. Indichiamo tali informazioni raccolte automaticamente come “informazioni sul dispositivo”. Inoltre, potremmo raccogliere dati personali che ci fornisce (inclusi senza limitazione nome, cognome, indirizzo, informazioni di pagamento ecc.) durante la registrazione per soddisfare l'accordo. </p>
    <h4> Perché trattiamo i dati? </h4>
    <p> La sicurezza dei dati dei clienti è una nostra priorità, pertanto trattiamo solo i dati degli utenti strettamente necessari per gestire il sito. Le informazioni raccolte automaticamente vengono utilizzate solo per identificare casi potenziali di abuso e stabilire statistiche sull'uso del sito. Queste informazioni statistiche non sono aggregate in modo da identificare un utente specifico del sistema. </p>
    <p> Le è consentito visitare il sito senza rivelare informazioni, tramite le quali potrebbe essere identificato personalmente. Se, tuttavia, desidera utilizzare alcune delle funzioni del sito, o desidera ricevere newsletter o fornire altri dettagli compilando un modulo, potrebbe doverci fornire dati personali come email, nome, cognome, città di residenza, organizzazione e numero di telefono. Può scegliere di non fornire dati personali, tuttavia in tal caso non potrà usufruire di alcune funzioni del sito. Per esempio, non potrà ricevere la nostra newsletter o contattarci direttamente dal sito. Gli utenti che non sanno quali informazioni sono obbligatorie, possono contattarci a bixiho4307@gronasu.com. </p>
    <h4> I Suoi diritti: </h4>
    <p> Se è residente nell'Unione Europea, dispone dei seguenti diritti sui dati personali: </p>
    <ul>
        <li> Il diritto di essere informato. </li>
        <li> Il diritto all'accesso. </li>
        <li> Il diritto di modifica. </li>
        <li> Il diritto di eliminazione. </li>
        <li> Il diritto di limitazione del trattamento. </li>
        <li> Il diritto di portabilità dei dati. </li>
        <li> Il diritto di obiezione. </li>
        <li> Il diritto in relazione a decisione e profilazione automatizzata. </li>
    </ul>
    <p> Per esercitare questi diritti, si prega di contattarci tramite le informazioni di contatto sotto. </p>
    <p> Inoltre, se è residente nell'Unione Europea, trattiamo le Sue informazioni al fine di stipulare i contratti con Lei (per esempio, in caso di ordine tramite il sito), o soddisfare in altro modo i nostri interessi commerciali legittimi indicati sopra. Ancora, notare che le informazioni possono essere trasferite fuori dall'Europa, incluso in Canada e negli Stati Uniti. </p>
    <h4> Collegamenti ad altri siti: </h4>
    <p> Il nostro sito potrebbe contenere collegamenti ad altri siti non gestiti o controllati da noi. Notare che non siamo responsabili per le pratiche sulla riservatezza di altri siti o di terzi. Invitiamo a prestare attenzione nel caso in cui si esca dal sito e leggere le dichiarazioni sulla riservatezza di ogni sito che potrebbe raccogliere informazioni personali. </p>
    <h4> Sicurezza delle informazioni: </h4>
    <p> Proteggiamo le informazioni fornite su server informatici controllati, un ambiente sicuro protetto da accesso, uso o divulgazione non autorizzata. Adottiamo sistemi di protezione fisica, tecnica e amministrativa ragionevoli per proteggere da accesso, uso, modifica e divulgazione non autorizzata delle informazioni personali in nostro possesso. Nonostante ciò, nessuna trasmissione dei dati tramite Internet o rete wireless può essere completamente garantita come sicura. </p>
    <h4> Avvertenza legale: </h4>
    <p> Divulgheremo informazioni raccolte, usate o ricevute se richiesto o consentito dalla legge, come per rispettare ordini di tribunali o procedure legali simili, oltre che nel caso in cui riteniamo in buona fede che la divulgazione sia necessaria per proteggere i nostri diritti, proteggere la Sua sicurezza o la sicurezza di altri, investigare frode o rispondere a richieste governative. </p>
    <h4> Informazioni di contatto: </h4>
    <p> Per qualsiasi questione correlata ai diritti individuali o alle informazioni personali, può inviare un'email a bixiho4307@gronasu.com.</p>
</div>
</div>
<footer th:replace="fragments/userFooter"></footer>
</body>
</html>