<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(${book.name})"></head>
<body>
<nav th:replace="fragments/userNavbar :: navbar(area='books')"></nav>
<div class="container-lg mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/catalog}">Catalogo</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${book.name}">Data</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-4 mb-4 px-2">
            <img th:src="${book.urlPhoto}" alt="Book Image" class="img-fluid">
        </div>
        <div class="col-md-6 px-2">
            <h1 th:text="${book.name}">Book Title</h1>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item border-0 py-1 ps-0"><strong>Autore:</strong> <span th:text="${book.authors}"></span></li>
                <li class="list-group-item border-0 py-1 ps-0"><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></li>
                <li class="list-group-item border-0 py-1 ps-0"><strong>Editore:</strong> <span th:text="${book.publisher}"></span></li>
                <li class="list-group-item border-0 py-1 ps-0"><strong>Data di pubblicazione:</strong> <span th:text="${book.dateOfPublishing}"></span></li>
                <li class="list-group-item border-0 py-1 ps-0"><strong>Categorie:</strong>
                    <span th:each="category : ${book.categories}" th:text="${category.name} + ' '"></span>
                </li>
            </ul>
            <div class="star-container" th:each="star : ${#numbers.sequence(1, 5)}">
                <span th:if="${!reviews.isEmpty() and star <= averageRating}"><i class="fa-solid fa-star"></i></span>
                <span th:if="${!reviews.isEmpty() and star > averageRating and star - averageRating <= 0.5}"><i class="fa-solid fa-star-half"></i></span>
                <span th:if="${reviews.isEmpty() or (star > averageRating and star - averageRating > 0.5)}"><i class="fa-regular fa-star"></i></span>
            </div>
            <span th:text="'(' + ${reviews.size()} + ')'"></span>
            <p><span th:text="${book.price}" class="display-4"></span> €</p>
            <div class="mb-2">
                <div th:if="${book.copies > 10}">
                    <i class="fas fa-circle text-success"></i>
                    <span>Disponibile</span>
                </div>
                <div th:if="${book.copies <= 10 and book.copies > 0}">
                    <i class="fas fa-circle text-warning"></i>
                    <span>In esaurimento</span>
                </div>
                <div th:if="${book.copies == 0}">
                    <i class="fas fa-circle text-danger"></i>
                    <span>Esaurito (Disp. dal 31 ottobre 2023)</span>
                </div>
            </div>
            <form th:action="@{/purchase/{id}(id=${book.id})}" method="post" class="mb-4">
                <div class="input-group mb-3">
                    <label for="quantity" class="input-group-text"><strong>Quantità:</strong></label>
                    <input type="number" id="quantity" name="purchaseQuantity" min="1" value="1" class="form-control">
                </div>
                <button type="submit" class="btn btn-warning w-100" th:text="${book.copies <= 0} ? 'Ordina' : 'Acquista ora'"></button>
            </form>
        </div>
    </div>
    <div class="row mb-5">
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active navbar-details navbar-hover-detail" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Trama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-details navbar-hover-detail" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Spedizione</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-details navbar-hover-detail" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Recensioni</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <p th:text="${book.description}" class="mt-4"></p>
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <h4 class="mt-4">Spedizione STANDARD</h4>
                    <p>Il costo è di 2,70 euro, e la consegna è prevista entro 3-5 gg lavorativi DAL REPERIMENTO DEL PRODOTTO
                        ATTENZIONE: nel caso di ordine di almeno 24,00 euro, questo tipo di spedizione è GRATUITA</p>
                    <h4>Spedizione VELOCE</h4>
                    <p>Il costo è di 3,90 euro, e la consegna è prevista entro 1-2 gg lavorativi DAL REPERIMENTO DEL PRODOTTO.</p>
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                    <h5 class="mt-4">Recensioni degli utenti</h5>
                    <p><strong>Voto medio del prodotto:</strong> <span th:text="${averageRating}"></span></p>
                    <div th:each="review : ${reviews}">
                        <p>
                            <span th:each="star : ${#numbers.sequence(1, 5)}" th:class="${star <= review.rating} ? 'fa fa-star checked' : 'fa fa-star'"></span>, <span class="fw-bold" th:text="${review.title}"></span>, <span th:text="${review.date}"></span>
                        </p>
                        <p>di <strong><span th:text="${review.username}"></span></strong></p>
                        <p th:text="${review.description}"></p>
                        <hr>
                    </div>
                    <h5>Scrivi recensione</h5>
                    <form th:action="@{/catalog/show/{bookId}/review(bookId=${book.id})}" method="post" class="my-4">
                        <input type="hidden" id="book_id" name="book_id" th:value="${book.id}" />
                        <div class="form-group">
                            <div class="row mb-4">
                                <div class="col">
                                    <input type="text" id="title" name="title" class="form-control" placeholder="Titolo" required>
                                </div>
                                <div class="col">
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
                                </div>
                                <div class="col">
                                    <input type="number" id="rating" name="rating" class="form-control" placeholder="Voto" min="1" max="5" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea id="description" name="description" class="form-control" rows="4" placeholder="Recensione" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-warning mt-3">Invia Recensione</button>
                    </form>
                </div>
            </div>
    </div>
    <div class="row">
            <h3 class="mb-5">Potrebbe Interessarti</h3>
            <div class="row">
                <div th:each="relatedBook : ${relatedBooks}" class="col-lg-3 col-md-6 mb-4 d-flex justify-content-center align-items-stretch">
                    <div class="card text-center" style="border:none">
                        <img th:src="${relatedBook.urlPhoto}" alt="Related Book Image" class="img-fluid card-img-top" style="object-fit:contain; max-height:330px;">
                        <div class="card-body flex-card-body">
                            <h5 class="card-title" th:text="${relatedBook.name}"></h5>
                            <p class="mb-2 text-secondary fw-bold" th:text="${relatedBook.authors}"></p>
                            <p class="mb-2" th:text="${#strings.abbreviate(relatedBook.description, 65)}"></p>
                            <p class="card-text mb-2">
                                <strong><span th:text="${relatedBook.price}" style="font-size: 20px;"></span></strong> €
                            </p>
                            <a th:href="@{/catalog/show/{id}(id=${relatedBook.id})}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<footer th:replace="fragments/userFooter"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>