<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Books')"></head>
<body>
<nav th:replace="fragments/userNavbar :: navbar(area='books')"></nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img th:src="${book.urlPhoto}" alt="Book Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1 th:text="${book.name}">Book Title</h1>
            <p><strong>Publisher:</strong> <span th:text="${book.publisher}">Publisher Name</span></p>
            <p><strong>Released Date:</strong> <span th:text="${book.dateOfPublishing}">Release Date</span></p>
            <p><strong>Description:</strong> <span th:text="${book.description}">Book Description</span></p>
            <p><strong>Price:</strong> <span th:text="${book.price}">Book Price</span> €</p>
            <p><strong>Categories:</strong>
                <span th:each="category : ${book.categories}" th:text="${category.name} + ' '"></span>
            </p>
            <form th:action="@{/purchase/{id}(id=${book.id})}" method="post">
                <label for="quantity">Quantità:</label>
                <input type="number" id="quantity" name="purchaseQuantity" min="1" value="1">
                <button type="submit" class="btn btn-warning">Buy Now<i class="fa-solid fa-cart-shopping"></i></button>
            </form>
        </div>
    </div></div>
<footer th:replace="fragments/userFooter"></footer>
</body>
</html>