<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Checkout')"></head>
<body>
<nav th:replace="fragments/userNavbar :: navbar(area='books')"></nav>
<div class="container my-5">
    <div class="row">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3 fw-bold">
                <span class="text-warning">Il tuo Carrello</span>
                <span class="badge bg-warning rounded-pill" th:text="${purchase.purchaseQuantity}"></span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0" th:text="${book.name}"></h6>
                        <small class="text-muted" th:text="${book.description}"></small>
                    </div>
                    <span class="text-muted" th:text="${purchase.purchaseQuantity + ' x ' + book.price + '€'}"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Totale (EUR)</span>
                    <strong th:text="${book.price * purchase.purchaseQuantity}"></strong>
                </li>
            </ul>
        </div>

        <div class="col-md-7 col-lg-8">
            <h4 class="mb-1">Indirizzo di Spedizione</h4>
            <form th:action="@{/checkout/{id}(id=${book.id})}" method="post">
                <input type="hidden" name="purchaseQuantity" th:value="${purchase.purchaseQuantity}" />
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label"></label>
                        <input type="text" class="form-control" id="firstName" placeholder="Nome" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label"></label>
                        <input type="text" class="form-control" id="lastName" placeholder="Cognome" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label"></label>
                        <input type="email" class="form-control" id="email" placeholder="Email" required>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="address" class="form-label"></label>
                        <input type="text" class="form-control" id="address" placeholder="Indirizzo" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="country" class="form-label"></label>
                        <input type="text" class="form-control" id="country" placeholder="Paese" required>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="state" class="form-label"></label>
                        <input type="text" class="form-control" id="state" placeholder="Città" required>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="province" class="form-label"></label>
                        <input type="text" class="form-control" maxlength="2" id="province" placeholder="Provincia" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="zip" class="form-label"></label>
                        <input type="number" class="form-control" id="zip" placeholder="CAP" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <h4 class="mb-3">Metodo di Pagamento</h4>
                <div class="my-3">
                    <div class="form-check">
                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" >
                        <label class="form-check-label" for="credit">Carta di Credito</label>
                    </div>
                    <div class="form-check">
                        <input id="debit" name="paymentMethod" type="radio" class="form-check-input" >
                        <label class="form-check-label" for="debit">PayPal</label>
                    </div>
                    <div class="form-check">
                        <input id="bank-transfer" name="paymentMethod" type="radio" class="form-check-input" >
                        <label class="form-check-label" for="bank-transfer">Bonifico</label>
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-warning btn-lg" type="submit">Effettua Ordine</button>
            </form>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<footer th:replace="fragments/userFooter"></footer>
</body>
</html>