<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Success Purchase</h1>

<p><strong>Title:</strong> <span th:text="${book.name}">Book Title</span></p>
<p><strong>Price:</strong> <span th:text="${book.price}">Book Price</span></p>
<p><strong>Total:</strong> <span th:text="${book.price * purchase.purchaseQuantity}">Total Price</span> €</p>
<p><strong>Purchase Quantity:</strong> <span th:text="${purchase.purchaseQuantity}">1</span></p>


</body>
</html>
