<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Checkout')"></head>
<body>
<nav th:replace="fragments/userNavbar :: navbar(area='books')"></nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Il tuo Carrello</span>
                <span class="badge bg-primary rounded-pill" th:text="${purchase.purchaseQuantity}"></span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0" th:text="${book.name}"></h6>
                        <small class="text-muted" th:text="${book.description}"></small>
                    </div>
                    <span class="text-muted" th:text="${purchase.purchaseQuantity + ' x ' + book.price + '€'}"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Totale (EUR)</span>
                    <strong th:text="${book.price * purchase.purchaseQuantity}"></strong>
                </li>
            </ul>
        </div>

        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Indirizzo di Spedizione</h4>
            <form th:action="@{/checkout/{id}(id=${book.id})}" method="post" th:object="${purchase}">
                <input type="hidden" name="purchaseQuantity" th:value="${purchase.purchaseQuantity}"/>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="firstName" th:field="*{userName}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('userName')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userName')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Cognome</label>
                        <input type="text" class="form-control" id="lastName" th:field="*{userSurname}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('userSurname')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userSurname')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" th:field="*{userEmail}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('userEmail')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="address" class="form-label">Indirizzo</label>
                        <input type="text" class="form-control" id="address" th:field="*{userAddress}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('userAddress')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userAddress')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="country" class="form-label">Paese</label>
                        <input type="text" class="form-control" id="country" th:field="*{userCountry}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('userCountry')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userCountry')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="state" class="form-label">Città</label>
                        <input type="text" class="form-control" id="state" th:field="*{userCity}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('userCity')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userCity')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="province" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="province" th:field="*{userMunicipality}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('userMunicipality')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userMunicipality')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="zip" class="form-label">CAP</label>
                        <input type="text" class="form-control" id="zip" th:field="*{userZipCode}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('userZipCode')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userZipCode')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <label class="form-label fw-medium fs-5">Metodo di Pagamento</label>
                <select class="form-select" aria-label="paymentMethod" th:field="*{userPaymentMethod}">
                    <option value="1">Carta di Credito</option>
                    <option value="2">Paypal</option>
                    <option value="3">Bonifico</option>
                </select>

                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Effettua Ordine</button>
            </form>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<footer th:replace="fragments/userFooter"></footer>
</body>
</html>