<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Books')"></head>
<body>
<nav th:replace="fragments/userNavbar :: navbar(area='books')"></nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header bg-success text-white">
                    <i class="fas fa-check-circle fa-3x"></i>
                </div>
                <div class="card-body">
                    <h1 class="card-title">Ordine Confermato</h1>
                    <p class="card-text">Grazie per aver acquistato da Generation Bookstore!</p>
                    <p class="card-text">ID Ordine: <span th:text="${purchase.id}"></span></p>
                    <p class="card-text"><strong>Titolo:</strong> <span th:text="${book.name}"></span></p>
                    <p class="card-text"><strong>Quantità:</strong> <span th:text="${purchase.purchaseQuantity}"></span></p>
                    <p class="card-text"><strong>Totale Ordine:</strong> <span th:text="${purchase.totalPrice}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/userFooter"></footer>
</body>
</html>
