<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- fragment navbar  DA GESTIRE-->
<nav th:fragment="navbar(area)" class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Spring Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- link per Books -->
                <li class="nav-item">
                    <a
                            class="nav-link"
                            th:href="@{/books}"
                            th:classappend="${#strings.equals(area,'books') ? 'active' : ''}"
                    >Books</a>
                </li>
                <!-- link per Users -->
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a
                            class="nav-link"
                            th:href="@{/users}"
                            th:classappend="${#strings.equals(area,'users') ? 'active' : ''}"
                    >Users</a>
                </li>
                <!-- link per Categories -->
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a
                            class="nav-link"
                            th:href="@{/categories}"
                            th:classappend="${#strings.equals(area,'categories') ? 'active' : ''}"
                    >Categories</a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()"
                 class="w-100 d-flex align-items-center justify-content-end">
                <span sec:authentication="name"></span>
                <a class="btn btn-warning" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</nav>
<!-- fine fragment navbar -->
</body>
</html>