/* mega-menu */
.navbar-dark .navbar-nav a.nav-link {
  color: #ffffff;
  font-size: 1.1em;
}
.navbar-nav .nav-link.show {
    color: #ffeb3b;
}
.btn-outline-light {
    --bs-btn-border-color: #ffeb3b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffeb3b;
    --bs-btn-hover-border-color: #ffeb3b;
}
.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;
}
@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }
  .dropdown-menu.show {
    display: flex;
  }
}
.dropdown-menu ul {
  list-style: none;
  padding: 0;
}
.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}
.dropdown-menu li .dropdown-item:hover {
  background-color: #2b3035;
}
.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.2em;
  color: #ffeb3b;
}
.dropdown-menu li:first-child a:hover {
  background-color: ;
}
@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }
}