<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head('Pagina non trovata')"></head>
    <body>
        <nav th:replace="fragments/userNavbar :: navbar(area='Home')"></nav>
        <div class="container my-5">
            <div class="row text-center">
                <img th:src="@{https://www.ibs.it/Content/images/not-found-desktop.jpg}">
                <h1 class="my-3">Pagina non trovata</h1>
                <p class="fs-5 my-2">Sembra che la pagina che stai cercando non esista, è possible che il contenuto sia stato eliminato o che la URL non sia stata digitata correttamente.</p>
                <div class="my-3">
                    <a th:href="@{/}" class="btn btn-warning">Torna alla Home Page</a>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/userFooter"></footer>
    </body>
</html>