<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Books')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='Books')"></nav>
<div class="container mt-5">
    <h2>Lista Libri</h2>
    <a href="/admin/create" class="btn btn-success">Aggiungi Libro</a>
    <div class="mt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Immagine</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Availability</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${book}">

                <td th:text="${book.id}"></td>
                <td>
                    <img th:src="${book.urlPhoto}" alt="Book Thumbnail" style="max-width: 100px; max-height: 100px;">
                </td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.description}"></td>
                <td th:text="|${book.price} €|"></td>
                <td>
                    <span th:text="${book.copies}"></span>
                </td>
                <td>
                    <span class="badge bg-success" th:if="${book.copies > 100}">&#9679;</span>
                    <span class="badge bg-warning" th:if="${book.copies <= 100 and book.copies > 10}">&#9679;</span>
                    <span class="badge bg-danger" th:if="${book.copies <= 10}">&#9679;</span>
                </td>
                <td>
                    <a th:href="@{/admin/show/{id}(id=${book.id})}" class="btn btn-primary">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a th:href="@{/admin/update/{id}(id=${book.id})}" class="btn btn-warning">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <form th:action="@{/admin/delete/{id}(id=${book.id})}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>