<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Books')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='Books')"></nav>
<div class="container mt-5">
    <h2>Lista Libri</h2>
    <hr class="m-3">
    <a href="/admin/create" class="btn btn-success">Aggiungi Libro</a>
    <form class="d-flex ms-auto bg-light-gray mt-3 mb-3" th:action="@{/admin/search}" method="get">
        <input class="form-control me-2" type="search" name="queryBookSearch" placeholder="Cerca tra i libri"
               aria-label="Search">
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div class="mt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Immagine</th>
                <th>Name</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Quantità</th>
                <th>Casa Editrice</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${book}">

                <td th:text="${book.id}"></td>
                <td class="text-center">
                    <img th:src="${book.urlPhoto}" alt="Book Thumbnail" style="max-width: 100px; max-height: 100px;">
                </td>
                <td th:text="${book.name}"></td>
                <td th:text="${#strings.abbreviate(book.description, 80)}"></td>
                <td th:text="|${book.price} €|"></td>
                <td>
                    <span th:text="${book.copies}"></span>
                    <span th:classappend="${book.copies <= 0} ? 'bg-danger' : (${book.copies < 15} ? 'bg-warning' : 'bg-success')"
                          class="d-inline-block rounded-circle"
                          style="width: 10px; height: 10px; margin-left: 5px;"></span>
                </td>
                <td th:text="${book.publisher}"></td>

                <td class="container d-flex text-center">
                    <a th:href="@{/admin/show/{id}(id=${book.id})}" class="btn btn-primary m-1">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a th:href="@{/admin/update/{id}(id=${book.id})}" class="btn btn-warning m-1">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <form th:action="@{/admin/delete/{id}(id=${book.id})}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger m-1">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="mt-3">
            <strong>Legenda:</strong>
            <span class="d-inline-block rounded-circle bg-danger"
                  style="width: 10px; height: 10px; margin-left: 5px;"></span> Esaurito
            <span class="d-inline-block rounded-circle bg-warning"
                  style="width: 10px; height: 10px; margin-left: 5px;"></span> Quantità bassa
            <span class="d-inline-block rounded-circle bg-success"
                  style="width: 10px; height: 10px; margin-left: 5px;"></span> Disponibile
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>