<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Restock Books')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='Restock')"></nav>
<div class="container mt-5">
    <h2>In Esaurimento</h2>
    <form th:action="@{/admin/restock}" method="post">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantità Disponibile</th>
                <th>Prezzo</th>
                <th>Pezzi da Acquistare</th>
                <th>Fornitore</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${book}" th:if="${book.copies} < 1000">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.copies}"></td>
                <td th:text="${book.price}"></td>
                <td>
                    <input type="number" min="1" name="restockQuantity" placeholder="Quantità">
                </td>
                <td>
                    <select name="supplier[${book.id}]">
                        <option value="mondadori">Mondadori</option>
                        <option value="feltrinelli">Feltrinelli</option>
                        <option value="libraccio">Libraccio</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Ordina</button>
    </form>
</div>
<script>

</script>
</body>
</html>
