<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Books')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='Books')"></nav>
<!-- form per modificare i libri-->

<div class="container mt-5 mb-5">
    <h1>Modifica Libro</h1>
    <form
            th:action="@{/admin/update/{id}(id=${book.id})}"
            id="book-edit"
            method="POST"
            th:object="${book}"
    >
        <div class="container d-flex">
            <div class="col-3 mb-3 d-flex justify-content-center align-items-center">
                <label for="imagePreview" class="form-label"></label>
                <img id="imagePreview" class="img-fluid img-thumbnail" th:src="${book.urlPhoto}" alt="Image Preview"
                     style="max-width: 300px;">
            </div>
            <div class="col-9">
                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input class="form-control" id="name" type="text" th:field="*{name}" th:errorClass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="urlPhoto" class="form-label">URL Foto</label>
                    <input class="form-control" id="urlPhoto" type="text" th:field="*{urlPhoto}" th:errorClass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('urlPhoto')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('urlPhoto')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrizione</label>
                    <textarea class="form-control" id="description" rows="5" th:field="*{description}"
                              th:errorClass="is-invalid"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="m-1">
                        <label for="copies" class="form-label">Copie Disponibili</label>
                        <input class="form-control" id="copies" type="number" th:field="*{copies}" th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('copies')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('copies')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-1">
                        <label for="soldCopies" class="form-label">Copie Vendute</label>
                        <input class="form-control" id="soldCopies" type="number" th:field="*{soldCopies}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('soldCopies')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('soldCopies')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-1">
                        <label for="price" class="form-label">Prezzo</label>
                        <input class="form-control" id="price" type="number" step="0.01" th:field="*{price}"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>

            </div>
                <div class="m-2">
                <button type="submit" class="btn btn-primary">Salva</button>
                <a class="btn btn-primary" th:href="@{/admin}">Annulla</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>