<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Categorie')"></head>
<body>
<!-- L'elenco delle categorie più pulsanti CRUD-->
<nav th:replace="fragments/navbar :: navbar(area='Categories')"></nav>
<div class="container mt-5">
    <h1>Categorie</h1>
    <hr class="m-3">

    <form
            id="category-form"
            th:action="@{/admin/categories/create}"
            th:object="${categoryObj}"
            method="POST"
    >

        <div class="d-flex mb-3">
            <div class="input-group me-2">
                <input type="text" class="form-control" placeholder="Aggiungi categoria..."
                       aria-label="Recipient's username" aria-describedby="button-addon2">
                <a class="btn btn-secondary fw-semibold" type="button" id="button-addon2"
                   th:href="@{/admin/categories}">X</a>
            </div>
            <button type="submit" class="btn btn-primary ms-1"> Salva</button>
        </div>
    </form>
    <form class="d-flex ms-auto bg-light-gray mt-3 mb-3" th:action="@{/admin/categories/search}" method="get">
        <input class="form-control me-2" type="search" name="query" placeholder="Cerca tra le categorie"
               aria-label="Search">
        <button class="btn btn-primary" type="submit">Cerca</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="categoryList : ${categoryList}">
            <td th:text="${categoryList.id}"></td>
            <td th:text="${categoryList.name}"></td>
            <td>
                <a th:href="@{/admin/categories/update/{catId}(catId=${categoryList.id})}" class="btn btn-warning">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <form th:action="@{/admin/categories/delete/{catId}(catId=${categoryList.id})}" method="post"
                      style="display: inline;">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>