<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Modifica ordine')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar(area='Purchase')"></nav>
<div class="container mt-5">
    <h1 th:text="|Modifica ordine per '${purchase.book.name}'|"></h1>
    <form
            th:action="@{/admin/purchase/update/{id}(id=${purchase.id})}"
            id="purchase-edit"
            method="POST"
            th:object="${purchase}">
        <input type="hidden" th:field="*{book}">
        <div class="row">
            <div class="col-10">
                <label for="purchase-date" class="form-label">Data e ora ordine</label>
                <input id="purchase-date" class="form-control" type="datetime-local" th:field="*{dateOfPurchase}"
                       disabled readonly>
            </div>
            <div class="col-5">
                <label for="purchase-quantity" class="form-label">Data ordine</label>
                <input id="purchase-quantity" class="form-control" type="number" th:field="*{purchaseQuantity}"
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('purchaseQuantity')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('purchaseQuantity')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-5">
                <label class="form-label">Totale ordine</label>
                <p th:text="|${purchase.calculateCost} €|"></p>
            </div>
        </div>
        <div class="m-2">
            <button type="submit" class="btn btn-primary">Salva</button>
            <a class="btn btn-danger" th:href="@{/admin/purchase}">Annulla</a>
        </div>

    </form>
</div>
</body>
</html>